<h1>Create new Contact</h1>

<form action='/add_contact' method='post'>
  <label for=""></label>
  <input type='text' name='first_name'>
  <input type='text' name='last_name'>
  <input type='text' name='email'>
  <input type='text' name='note'>
  <input type='submit' value='New Contact'>
</form>
