<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <p>Home Page</p>
    <a href="/contacts">Contacts</a>
    <br>
    <a href="/about">About</a>
  </body>
</html>
