<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <title>CRM</title>
  </head>
  <body>
    <header>
      <p>Ari's CRM</p>
      <nav>
        <a href="/">Home</a>
        <a href="/add_contact">Add Contact</a>
        <a href="/about">About</a>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      Ⓒ Argir 2017
    </footer>
  </body>
</html>
